h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

aside {
  width: 400px;
}

.priority-radio label {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.priority-radio label:hover,
.priority-radio label:focus {
  background-color: #f0f0f0;
}

/* 選択中のアイコンのスタイル */
.priority-radio label.selected {
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.selected {
  background-color: #e6e6e6;
  outline: none !important; /* フォーカス時のアウトラインを除去 */
}

.accordion-item {
  border: none;
}

.accordion-button, .accordion-button:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

#Task_Main {
  background: #e6e6e6;
}

#Task_Main_Add .form-control {
  border-color: transparent;
}

#Task_Main_Add .form-control:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}

#Task_Main_Add .input-group {
  border: 1px solid;
  border-color: transparent;
}

#Task_Main_Add .input-group.focused {
  border: 1px solid;
  border-color: red;
}

#AddProjectModal button,
#AddTagModal button {
  width: 6rem;
}
